@charset "utf-8";

@font-face {
  font-family: Regular;
  src: url('/fonts/PoppinsRegular-B2Bw.otf');
}
@font-face {
font-family: ABold;
src: url('/fonts/PoppinsSemibold-8l8n.otf');
}
@font-face {
  font-family: ABolder;
  src: url('/fonts/PoppinsBold-GdJA.otf');
}
@font-face {
  font-family: Unna;
  src: url('/fonts/Unna-Regular.ttf');
}

body {
    background-color: #F3EEED;
    font-family: Regular;
    margin: 0;
    overflow-x:hidden ;
    min-height: 100vh;
}

h1{
    color: #065471; font-size: 2vw; font-family: ABolder;
}

h3{
    color:#434546; font-size: 1.3vw; margin-top: 3px;     
}

h4{
    color: #FFB700;
    margin-left: 10px;
    margin-right: 100px;
    font-family:Unna;
    font-size: 1vw;
}

legend{
  color:#053F5E;
  font-family: ABolder;
  font-size:2vw;
}

hr{
  width: 100%; 
  border-color: #434546;
  float: left;
  margin-top: 20px;
}

label {
  font-family: ABold;
  color: #053F5E;
  font-size: 1.3vw;  
  margin-right: 2%;  margin-left: 0%; margin-top: 1%;
  display: inline-block;
  width: 22%;
  padding: 0%;
}

textarea{
  width:71%;
  height:10vh;
  font-family: Regular;
  font-size: 1vw;
  border-radius: 10px; text-indent: 10px;
}

.detailslabel{
  font-family: ABold;
  color: #0C4B05;
  font-size: 1vw;
  margin-right: 2%;
  display: inline-block;
  width: 20%;
  margin-left: 0%;
}

/* HEADER STYLE */
.titleheader{
  color: white;
  margin-left: 20vw;
  position: fixed;
  font-size: 2vw;
  font-family: ABold;
}

.header{
  padding-left: 1.5vw;
  background-color: #e6e6e6; border-radius: 20px;
  letter-spacing: 0.2vw;
  margin-bottom: 1vh; margin-top:1vh;
  display: flex;
  width: 95%;height: 5vh;
  align-items: center;
}

.header input[type=text] {
  padding: 6px;
  font-size: 1.1vw;
  border: none;
  margin-top: 1.5vh;
  border-radius: 10px;
  height: 4vh;
}

.header button {
  border-style: none; background-color:#d1d0d0; border-radius: 10px;
  width: 7%; height: 4vh; margin-bottom: 1vh;
}

.header button:hover {
  background: #9c9c9c;
}

/* CONTACT PAGE CONTAINER */

.contactcontainer{
  display:flexbox;
  padding-left: 25%;
  padding-top: 5%;    
  
}

.contactcontainer img{
  width: 3%;
  margin-right: 10px;
  margin-bottom: 5px;
  vertical-align: middle;
}

.contactcontainer ul{
  list-style-type: none;
  color: #053F5E;
}

.contactcontainer ol{
  font-size: 1.4vw;
  color: #053F5E;
}

.contactcontainer li{
  margin-top: 2%;
}

.boxcontact{
  backdrop-filter: blur(16px) saturate(180%);-webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.40);
  width: 95%;
  margin-bottom: 5%;
  padding: 3%;
  margin-top: 5%;
}
/* END CONTACT PAGE CONTAINER */

.slide-container {
  overflow: auto;
  white-space: nowrap;
  width:80%;
  margin: 1% 0% 2% 1%
}

.slide-container img{
  width: 25%;
  height: 30vh;
}

/* DASHBOARD STYLE */
.dashboardcontainer{
  display: flex; width: 100%; height: 100vh;
top: 0%;  padding-top: 5%;  padding-left: 25%;    
}

.notedashboardcon{
  width: 50%; height: 80%; overflow-y: scroll;
  margin-top: 7%; margin-right: 5%;
  padding-top: 2%; padding-left: 5%; border-radius: 20px;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.40);
}

.listappcontainer {
    display: block;
    height: 100%;
    padding-left: 23%;   
    padding-top: 8%; 
}

.listappcontainer form {
  margin-left: 0px;
  border-style: none;
  display: inline-block;
  width: 90%;
}

.username{
    display: flex;
    margin: 20% 0% 5% 0%;
    padding-left: 3vw;
    padding-top: 5vh;
    font-family: ABold;
    color:#053F5E;
    font-size: 1.5vw;
}

.uppernav {
  background-color: #F3EEED;
  display: flex; position: fixed;
  padding-left: 1vw;
  width: 100%;
  top: 0%;
  z-index: 1;
  height: 5vh;
}

.topnav {
    background-color: #065471;
    z-index: 1;
    overflow: hidden;
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 5vh;
    height: 10vh;
    top: 0%;
    position: fixed;
}

.updatedormcontainer{
  padding-left: 25%;
  padding-bottom: 10%;
  width: auto;
}

.updateimagecon{
  padding-left: 22%;
  padding-bottom: 10%;
  padding-top: 10%;
  display: flex;
  width: 100%;
}

.logincontainer {
  width: 40%;
  text-align: center;
  margin: 10% 0% 0% 30%;
  padding: 5% 0% 5% 0%;
  border-radius: 20px;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.40);
}

.logincontainer form{
  width: 70%;
  margin-left:15%;
}

.registercontainer {
  display: flex;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.40);
  border-radius: 20px;
  width: 60%;
  margin: 10% 0% 0% 20%;
  padding: 3% 0% 2% 5%;  
}

.registercontainer form {
  border-style: none;
  width: 100%;
  height: 100%;
  margin: 0% 0% 2% 3%;
}

.logincontainer label{
  color: #053F5E;
  font-size: 1.2vw;
  font-family: ABold;
  width: 250px;    
  padding-top: 10px;
  display: inline-block;
  text-align: center;
}

.loginform {
  width: 80%;
  height:5vh;
  margin-top: 1.5vh;
  border-style: none;
  border-radius: 0.6vw;
  text-indent: 1vw;
  font-size: 1.1vw;
}

.yellowbutton {
    background-color:#28a01b;
    color: white;
    font-family: ABold;
    border-style: none;
    font-size: 1.3vw;
    width: 20%;
    height: 5vh;
    border-radius: 1vw;
    cursor: pointer;
}

.dashboardbutton {
  background-color:#28a01b;
  color: white;
  border-style: none;
  font-size: 1.3vw;
  margin: 3% 10px 0% 0%;
  width: 250px;
  height: 40px;
  border-radius: 12px;
  cursor: pointer;
}

.cancelbutton{
  margin-top:1vh;
  border-color:#28a01b;
  background-color:transparent;
  color:#28a01b;
  font-family: ABold;
  border-style: solid;
  font-size: 1.3vw;
  width: 30%;
  height: 5vh;
  border-radius: 1vw;
  cursor: pointer;
}

.secondyellowbutton {
    background-color:#28a01b;
    color: white;
    border-style: none;
    width: 20%;
    height: 5vh;
    border-radius: 20px;
    margin-top:15px; margin-bottom:50px;
    float: right;
    font-size: 1vw; font-family: ABold;
    cursor: pointer;
}

.greenbutton {
    background-color:transparent;
    color: #28a01b;
    border-style:solid;
    border-color: #28a01b;
    width: 15%;
    height: 5vh;
    border-radius: 20px;
    margin-top:15px; 
    margin-bottom:50px;
    float: right;
    font-size: 1vw;
    font-family: ABolder;
    cursor: pointer;
}

.registerbutton {
  background-color:transparent;
  color: #28a01b;
  font-size: 1.3vw;
  border-style:solid;
  border-color: #28a01b;
  width: 80%;
  height: 5vh;
  font-family: ABold;
  border-radius: 10px;
  margin-bottom:10px;
  cursor: pointer;
}

.addbutton {
  margin: 0px 5px 10px 5px;
  cursor: pointer;
  background-color: #28a01b;
  color: white;
  font-size: 1vw;
  border-style: none;
  border-radius: 10px;
  width: 50%;
  height: 25px;
}

.inputapp{
    font-family: Regular;
    height: 4vh;
    display: inline-block;
    border-radius: 5px;
    margin-right:2%;
    border-width: 1px;
    font-size: 1.1vw;
  }

#newlink {
margin-top: 15px;
}  

.readapp{
    font-family: Regular;
    height: 30px;
    border-style: none;
    font-size: 1.2vw;
    background-color: #F3EEED;
}

.title {
    color: #1D6115;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
}

.dashboard_con {
    position: absolute;
    width: 500px;
    top: 170px;
    right: 200px;
}

.btndelete {
  width: 15%;
  height: 5vh;
  border-radius: 35px;
  font-size: 1.1vw;
  font-family: ABold;
  color: #28a01b;
  border: 2px solid #28a01b;
  cursor: pointer;
}

.dorm_con {
    margin: auto;
    margin-top: 450px;
    width: 50%;
    height: auto;
}

.oncampus_con {
    width: 350px;
    height: auto;
}

.offcampus_con {
    margin-top: -103px;
    margin-left: 425px;
    width: 350px;
    height: auto;
}

.dorm_details_con {
    margin: 0%;
    display: flex;
    width: 40%;

}

.dorm_details {
padding-left: 5%;
 width: 70%;  
}


/* TABLE FOR VIEW DORM */
.viewdormtable{
  font-size: 1.2vw;
  margin-right: 1vw;
  border-radius: 1vw;
}

.viewdormtable button{
  color: #28a01b;
  font-family: ABold;
  border: #28a01b 2px solid;
  font-size: 1vw;
  border-radius: 10px;
  width: 50%;
  height: 25px;
}

.viewdormtable th{
font-family: ABold;
color:#053F5E;
font-size: 1.4vw;
text-align: left;
position: sticky;  padding-left: 0%;
}

.viewdormtable td{
  padding-left: 0%;
  color:#000;
}



/* TABLE FOR VIEW DORM */

.dorm_img {
    display: flex;
    margin-top: 100px;
}

/* FOR VERTICAL NAVIGATION BAR */
  
.verticalnav {
  display: flex;
  height: 100vh;
  top: 0%;
  position: fixed;
  padding-top: 3%;
}

.verticalnav img{
    width: 10%;
    height: 10%;
    margin-right: 2vh;
    margin-bottom: 1vh;
    vertical-align: middle;
}

.verticalnav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 20%;
  background-color: #d4d4d4;
  height: 100%;
  position: fixed;
  font-size: 1.3vw;
  }
  
.verticalnav  li a {
    display: block;
    color: #000;
    padding: 1vh 1vw;
    padding-left: 3vw;
    text-decoration: none;
  }
  
.verticalnav .active {
    background-color:#065471;
    color: white;
    font-family: ABold;
  }
  
.verticalnav li a:hover:not(.active){
    background-color:#434546;
    color:white;
    cursor: pointer;
  }

.verticalnav button{
  width: 100%;
  font-size: 1.3vw; font-family:Regular;
  border-style: none;
  background-color: transparent; color:rgb(235, 72, 44);
  text-align: left;
  padding-left: 3vw;
}

.verticalnav button:hover{
    background-color:#434546;
    color: white;
    cursor: pointer;
}

  /* SCROLLABLE LIST */
 .tableFixHead {
  overflow: hidden;
  width: 95%;
  border-radius: 1vw;
}

.tableFixHead button{
  background-color: #28a01b;
  font-family: ABold;
  color: white;
  font-size: 1.2vw;
  border-style: none;
  border-radius: 1vh;
  width: 100%;
  height: 4vh;
}

.tableFixHead button:hover{
  background-color: #1D6115;
  cursor: pointer;
}

.tableFixHead thead th {
  position: sticky;
  letter-spacing: 0.1vw;
  top: 0;
}

.tableFixHeadtitle {
  position: sticky;
  width: 95%;
  margin: 0px 0px 0px 0px;
  color: #434546;
  font-size: 2vw;
  font-family: ABolder;
  margin-bottom: 1%;
}

table {
  border-collapse:collapse;
  width: 100%;
}

td {
  padding: 1vh 1vw;
  font-size: 1.3vw;
}

th {
  font-family: ABold;
  padding: 1vh 1vw;
  font-size: 1.3vw;

}
.tableFixHead,
.tableFixHead td {
  box-shadow: inset 0px 1px #1D6115;
}
.tableFixHead th {
  box-shadow: inset 1px 1px #1D6115, 1 1px #1D6115;
  background-color: #065471; 
  color:white;
  text-align: left;
}

/*SCROLLABLE LIST END*/

  /*CUSTOM SCROLL*/
  ::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
       background-color: transparent;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background-color: #434546;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #393a3b; 
  }

 
/* DASHBOARD*/
.maincon{
  border-radius: 20px;
  width: 85%;
  margin-top: 0%;
  padding-left: 1%;padding-right: 1%;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.40);
}
/* END DASHBOARD*/


.h2nav {
  font-size: 2.5vw;
  text-align: left;
  color: #053F5E;
  padding-left: 3%;
}

.text--sub {
	font-size: 1vw;
  margin-top: 0%;margin-bottom: 0%;
	letter-spacing: 0.2vw;
	text-transform: uppercase;
  color:#434546;
}

.text--small {
	font-size: 1.1vw;
  color:white;
}

.text--normal {
	font-size: 1.3vw;
	color: rgba(255, 255, 255, 0.8);
	font-weight: 100;
  width: 100%;
	margin-top: 5%;
  margin-bottom: 0%;
}

.text__background {
	font-family: 'Poppins', sans-serif;
	position: absolute;
	left: 72px;
	bottom: -60px;
	color: rgba(0,0,0,0.05);
	font-size: 100px;
	font-weight: 700;
}

.__img {
	position: absolute;
	bottom: 50px;
	right: 25%;
	max-height: 40vw;
	opacity: 1;
	transform: translate3d(0,0,0);
	transition: opacity 0.43s 0.6s, transform 0.4s 0.65s cubic-bezier(0, 0.88, 0.4, 0.93);
}

.dorm {
  background-color:#28a01b;
  color: white;
  margin-bottom: 2vh;
  border-style: none;
  width: 20%;
  height: 5vh;
  border-radius: 15px;
  font-family: ABold;
  cursor: pointer;
  font-size: 1.1vw;
}

.cover {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background-image: url('/images/bg.png');  background-repeat: no-repeat;background-size:100% 100%;
}

.headerstat{
  width:80%;
  height:5vh;
  border-radius: 1vw; margin-left: 3%; padding-left: 5%;
  background-color: #065471;
}

.headerstat input{
  border-style: none;
  border-radius: 10px;
  background-color: transparent;
  text-indent: 5px;
  color: #FFB700;
  font-size: 1.2vw;
  font-family:ABolder;
}

.headerstat select{
  width: 20%;
  border-radius: 10px;
}
/* END FOR 2ND SLIDER*/


.smallheader{
  padding: 0.5% 0.5% 0.5% 0%;
  margin-right: 5%;margin-top: 3%;
  color:#434546;
  width: 45%;
  font-size: 1.3vw;
  font-family:ABolder;
}


/*SLIDESHOW IMAGE CSS*/
* {
  box-sizing: border-box;
}

img {
  vertical-align: middle;
}

/* Position the image container (needed to position the left and right arrows) */
.imgcontainer {
  position: relative;
  width: 100%;
  height: 500px;
}


/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
    position: absolute;
    top: 40%;
    width: 10%;
    padding: 4%;
    color: #434546;
    background-color:#e6e6e6;
    font-weight: bold;
    font-size: 1.5vw;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  padding-right: 5%;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color:#065471;
}

/* Caption text */
.text {
  color: white;
  background-color:#434546;
  font-size: 1.5vw;
  position: absolute;
  width: 100%;
  padding-left: 5%;
  text-align:left;
}

/* ID text */
.IDtext {
  color: white;
  background-color:#434546;
  font-size: 1.5vw;
  position: absolute;
  top: 0%;
  width: 100%;
  padding-left: 5%;
  text-align:left;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}
/* END FOR SLIDESHOW IMAGE CSS*/

.imagefile{
  background-color: #1D6115;
  color: white;
  margin-top: 3%;
  margin-bottom: 3%;
}

/* MODAL FOR REGISTRATION */
.modal {
	z-index: 10;
	display: block;
	padding-top: 100px;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.5)
}
.modal-content {
	margin: auto;
	background-color: #fff;
	position: relative;
	padding: 0;
	outline: 0;
	max-width: 600px
}
.modal-inner { padding: 20px 30px; }
.modal-inner h2{
  color:#053F5E;
  font-family: ABolder;
}
.modal-close {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	position: absolute;
	right: 0;
	top: 0;
	background: #ccc;
	padding: 6px 10px;
}
.animate-opacity { animation: opac 0.8s }@keyframes opac{from{opacity:0} to{opacity:1}}